---
import Layout from '../layouts/Layout.astro';
import Credit from '../components/Credit.astro';
---
<meta charset="UTF-8">
<body class="bg-black astro-5BLMO7YK"></body> 

<Layout title="Furkanflix">
      
 <Credit />
    

</Layout>