---

---

   
    
<div class="card" style="col-md-3 col-sm-6" style="margin-top: 2%;">
	<img class="card-img-top" src="public/foto1.jpg" >
  <div class="card-body">
    <p class="card-text">Bir çocuğun kaybolması, dört aileyi hummalı bir cevap arayışına iter. Bu arayışları, üç nesli kapsayan akıl almaz bir gizemi ortaya çıkarmalarına neden olur.</p>
  </div>
</div>
    
<div class="card" style="col-md-3 col-sm-6" style="margin-top: 2%;">
	<img class="card-img-top" src="public/foto2.jpg" >
	<div class="card-body">
	  <p class="card-text">Sauron'un Yüzüğü'nü yok etmek için Hobbitlerin huzur dolu köyünden ayrılan Frodo Baggins, Mordor'un karanlık uçurumlarına kadar uzanan tehlikeli bir yolculuğa atılır.</p>
	</div>
</div>
<div class="card" style="col-md-3 col-sm-6" style="margin-top: 2%;">
	<img class="card-img-top" src="public/foto3.jpg" >
	<div class="card-body">
	  <p class="card-text">İnsanlık yok olmanın eşiğindeyken bir grup astronot, yaşanabilir başka bir gezegen bulmak için bir solucan deliğinden geçerek tehlikeli bir yolculuğa çıkar.</p>
	</div>
</div>
<div class="card" style="col-md-3 col-sm-6" style="margin-top: 2%;">
	<img class="card-img-top" src="public/foto4.jpeg" >
	<div class="card-body">
	  <p class="card-text">"Yüzüklerin Efendisi" üçlemesinin öncesini anlatan bu filmde Bilbo Baggins, kayıp krallıklarını geri almak isteyen bir grup zorlu cüceyle tehlikeli bir yolculuğa çıkar.</p>
	</div>
</div>
<div class="card" style="col-md-3 col-sm-6" style="margin-top: 2%;">
	<img class="card-img-top" src="public/foto5.jpg" >
	<div class="card-body">
	  <p class="card-text">Kirliliğin zehirlediği ve eriyen buzulların sarstığı bir Norveç kasabası, kıyameti yoğun biçimde hissetmektedir. Kadim bir kötülüğü alt etmek için bir efsane gereklidir.</p>
	</div>
</div>
<div class="card" style="col-md-3 col-sm-6" style="margin-top: 2%;">
	<img class="card-img-top" src="public/foto6.jpg" >
	<div class="card-body">
	  <p class="card-text">Parlak zekalı fakat alkolik bilim adamı Rick, başka dünyalara ve alternatif boyutlara çılgın kaçamaklar yaparken huysuz torunu Morty'i de zorla yanında götürür.</p>
	</div>
</div>
