---

---

<div class="card mb-3" style="max-width: 450px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="card-img-top" src="public/foto7.jpg" >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Evrenin Hikayesi</h5>
          <p class="card-text">Bu kapsamlı belgesel dizisinde, evrenimizin milyarlarca yıllık olağanüstü öyküsünü ve Dünya'daki yaşamla arasındaki karmaşık bağlantıyı keşfedin.</p>
        </div>
      </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 450px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="card-img-top" src="public/foto8.jpg" >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Gezegenimiz</h5>
          <p class="card-text">Muazzam bir içeriğe sahip olan bu çarpıcı belgeselde, gezegenimizin doğal güzelliğine şahit olurken iklim değişikliğinin tüm canlıları nasıl etkilediğini göreceksiniz</p>
        </div>
      </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 450px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="card-img-top" src="public/foto9.jpg" >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Rise of Empires: Ottoman</h5>
          <p class="card-text">Osmanlı Sultanı II. Mehmet, Bizans'ın başkenti Konstantinopolis'i fethetmek üzere destansı bir sefere çıkar ve tarihin akışını yüzyıllar boyunca değiştirir.</p>
        </div>
      </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 450px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="card-img-top" src="public/foto10.jpg" >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Roman Empire</h5>
          <p class="card-text">Belgesel ile şaşaalı bir tarihî efsaneyi şık bir şekilde harmanlayan bu dizi, Komodus, Jül Sezar ve Caligula'nın şiddet dolu saltanatlarını anlatıyor.</p>
        </div>
      </div>
    </div>
</div>