---

---
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Top5</th>
      <th scope="col">İsim</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Dark</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Hobbit</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Roman Empire</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td colspan="2">Ragnarok</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td colspan="2">Gezegenimiz</td>
    </tr>
  </tbody>
</table>