<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: white ;">Furkanflix</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" style="color: white ;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page" style="color: white ;">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/folder" style="color: white ;">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/ehu" style="color: white ;">Ehu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/öyleli" style="color: white ;">Öyleli</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>